services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./monitoring/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus_data:/prometheus
    ports:
      - 9090:9090

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    ports:
      - 9100:9100
  
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - 3000:3000
    volumes:
      - ./monitoring/loki/loki.yaml:/etc/loki/loki.yaml
      - loki_data:/var/lib/loki
    depends_on:
      - prometheus

  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    ports:
      - 3000:3000
    volumes:
      - ./monitoring/grafana/grafana.yaml:/etc/grafana/grafana.yaml
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus

networks:
  backend:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:
  loki_data:
