apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: ecommerce
  labels:
    app: postgres-service
spec:
  type: ClusterIP
  selector:
    app: postgres-service
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP