apiVersion: v1
kind: Service
metadata:
  name: products
  namespace: ecommerce
  labels:
    app: products
spec:
  type: NodePort
  selector:
    app: products
  ports:
  - port: 8002
    targetPort: 8002
    nodePort: 30002
    protocol: TCP