apiVersion: v1
kind: Namespace
metadata:
  name: ecommerce
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: ecommerce
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_DB: ecommerce_db
  JWT_SECRET: "supersecretjwt"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fastapi-config
  namespace: ecommerce
data:
  FASTAPI_HOST: "0.0.0.0"
  FASTAPI_PORT: "8000"
  APP_ENV: "k8s"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: express-config
  namespace: ecommerce
data:
  NODE_ENV: "production"
  FASTAPI_URL: "http://fastapi:8000"
