apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres-container
        image: postgres:17.5
        ports:
        - containerPort: 5432
        # Environment variables are sourced from the Secret
        envFrom:
        - secretRef:
            name: db-credentials # Reuses the Secret created for FastAPI
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data # Standard path for Postgres data
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc # References the PVC defined above